body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Varela Round';
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  header span.open{
    display: none;
    color: #818181;
    width: fit-content;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #FFBA49;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




header{
    padding: 0px;
    float: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    float: none;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
header section article.header{
    width: 100%;
    height: 100px;
}
main{
    margin: 0 auto;
    width: 1048px;
    padding: 10px;
    background-color: white;
    height: 1300px;
    flex: 1;
}
footer{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(255, 184, 53);
    height: 50pt;
    line-height: 50px;
    color: white;
    bottom: 0;
}
footer p{
    margin: 10px 20px;
}
ul{
    list-style-type: none;
}
header h1{
    float: left;
    width: 160px;
    color: #FFBA49;
    padding-left: 15px;
    font-size: 28px;
    margin: 30px 0;
}
header li{
    float: left;
    text-align: center;
}
header li a{
    display: block;
    padding: 0;
    width: fit-content;
    text-decoration: none;
    color: gray;
    margin: 40px 30px;

}
header li a.utama{
    color: #FFBA49;
}
header li a.utama:after{
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFBA49;
    transform-origin: bottom right;
    transform-origin: bottom left; 
    content: '';
}
article.about h2{
    font-size: 50px;
}
article.about p.kata{
    width: 600px;
    font-size: 20px;
    padding: 20px 0;

}
article.about p.lanjut{
    line-height: 0;
    margin: auto 0;
    width: fit-content;
    margin-top: 5px;
}
article.about{
    width: fit-content;
    padding-left: 20px;
    font-size: 16px;
    color: gray;
    height: fit-content;
    margin: 0;
}
li a {
    display: inline-block;
    position: relative;
}
header li a:after {
    content: '';
    position: absolute; 
    width: 100%; 
    transform: scaleX(0); 
    height: 1px; 
    bottom: 0; 
    left: 0; 
    background-color: #FFBA49;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

header li a:hover{
    color: #FFBA49
}

header span a{
    float: right;
    color: white;
    background-color: #FFBA49;
    border: 1px solid transparent;
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 30px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
header span a:hover{
    background-color: transparent;
    color: #FFBA49;
    border: 1px solid #FFBA49;
}
a{
    text-decoration: none;
}
li{
    display: inline;
}








main{
    margin: 0 auto;
    width: 1200px;

}
main section.search{
    float: none;
    margin: 25px;
    
}
main section.search input{
    padding: 10px;
    width: 85%;
}
main section.search span a{
    margin-top: 0;
    float: right;
    padding: 10px 35px;
    background-color: #FFBA49;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    -webkit-transition: .3s ease-in-out;
    transition: .3 ease-in-out;
}
main section.search span a:hover{
    background-color: white;
    border: 1px solid #FFBA49;
    color: #FFBA49;
}

main p.judul{
    font-weight: bold;
    color: #535353;
    font-size: 22px;
    margin-left: 20px;
    text-shadow: 2px 2px white;
}



table{
    margin-bottom: 50px;
}
main table.hes tr td {
    width: fit-content;
    padding-right: 15px;
}
main td.hes{
    width: fit-content;
    font-size: 20px;
    color: #535353;
    padding-right: 10px;
    text-align: none;
    padding-left: 20px;
}
main td.hes p{
    width: fit-content;
    font-size: 20px;
    color: white;
    padding-right: 10px;
    text-align: center;
    background-color: #FFBA49;
    margin: 10px 0px;
    padding: 10px 15px;
}
main td{
    margin-bottom: 100px;
    padding: 5px 0;
    text-align: justify;
}
main td a{
    color: #535353;
    padding-left: 20px;
}
main table.hes tr td a{
    font-size: 12px;
    padding: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
main table.hes tr td a:hover{
    color: #FFBA49;
}

main td img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 0px;
}


main section{
    float: left;
}

main section.kategori{
    width: 300px;
}
main section.kategori{
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    min-height: 200px;
    top: 10px;
}



main section.inti{
    width: 870px;
    padding-left: 20px;
    align-items: center;
    border-left: 1px solid gray;
}
section.inti ul{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
section.inti ul li a{
    padding: 0 10px;
    color: #535353;
    
}
section.inti ul li a:hover{
    color: #FFBA49;
}


section.inti img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

section.inti img:hover{
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

section.inti P a{
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
section.inti article p a:hover{
    color: #FFBA49;
}

section.inti article{
    margin-top: 10px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    float: left;
    margin: 0 20px;
    margin-bottom: 30px;
}
section.inti section.Rekomendasi{
    border-top: 1px solid lightgray ;
    border-bottom: 1px solid lightgray ;
}

section.Terbaru{
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}
section.Terbaru article{
    width: 830px;
    height: 200px;
}
section.Terbaru article img{
    float: left;
}
section.Terbaru article p a{
    color: #535353;
    margin: 0;
    width: 500px;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    float: left;
    margin-top: 35px;
    
}
section.Terbaru article p{
    font-size: 12px;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    margin: 5px 0px;
    float: left;
    margin-left: 10px;

}
p.tanggal{
    background-color: #FFBA49;
    border-radius: 2px;
    color: white;
}



section.panjang article{
    width: 830px;
    height: 200px;
}
section.panjang article img{
    float: left;
}
section.panjang article p a{
    color: #535353;
    margin: 0;
    width: 500px;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    float: left;
    margin-top: 35px;
    
}
section.panjang article p{
    font-size: 12px;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    margin: 5px 0px;
    float: left;
    margin-left: 10px;
}


section.Besar img{
    width: 835px;
    height: 400px;
    border-radius: 5px;
    margin: 0;
}
section.Besar article{
    margin-top: 10px;
    background-color: white;
    width: 835px;
    height: 450px;
    border-radius: 20px;
    float: left;
    margin: 0 20px;
    margin-bottom: 30px;
}
section.Besar article p a{
    color: #535353;
    width: fit-content;
    margin: 2px 0px;
    font-weight: normal;
    padding: 3px;
    font-size: 20px;
    text-align: justify;
    float: left;
}
section.Besar article p{
    font-size: 12px;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    margin: 5px 0px;
}




section.Rekomendasi article p a{
    color: #535353;
    width: fit-content;
    margin: 2px 0px;
    font-weight: normal;
    padding: 3px;
    font-size: 14px;
    text-align: justify;
    float: left;
}
section.Rekomendasi article p{
    font-size: 12px;
    color: #a8a8a8;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    margin: 5px 0px;
}
section.inti article b a{
    color: white;
    background-color: #FFBA49;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 15px 50px;
    margin-top: 20px;
    float: left;
}
section.inti article b a:hover{
    background-color: white;
    border: 1px solid #FFBA49;
    color: #FFBA49;
}


table.jenis {
    width: 5px;
    padding: 5px;
}
table.jenis td{
    width: 5px;
    height: 5px;
    font-size: 10px;
}
table.jenis td a{
    margin: 0 2px;
    background-color: #FFE3B4;
    padding: 3px;
    margin-left: 8px;
    color: #535353;
    border-radius: 2px;
}
.bawah ul{
    width: fit-content;
    margin-left: 590px;
    display: inline-block;
}
.bawah ul li a{
    color: #535353;
    padding: 10px;
    margin: 10px;
}
.bawah ul li a.utama{
    color: #FFBA49;
}
.bawah ul li a:hover{
    color: #FFBA49;
}






/*RESPONSIF*/
@media (max-width: 1024px)
{
    body{
        width: 1024px;
        align-items: center;
    }
    .header{
        width: 95% !important;
        margin: 0 auto;
        font-size: 14px;
    }
    header li a{
        margin-left: 10px;
        margin-right: 10px;
    }
    header span img{
        width: 45px !important;
        height: 45px !important;
        margin: 0;
        padding: 0;
    }

    main{
        width: 900px;
    }
    main .judul{
        font-size: 22px !important;
        margin-left: 15px;
    }
    .search input{
        width: 80% !important;
    }
    main .kategori{
        margin-left: 25px;
    }
    main td a{
        width: 95px;
    }
    main td{
        width: 80px;
    }


    main section.inti{
        width: 550px !important;
        margin-right: 0;
        padding-right: 0;
    }
    main section.inti .Besar img{
        width: 510px;
        height: 250px;
        margin: 0 !important;
        padding: 0 !important;
    }
    main section.inti .Besar{
        width: 510px;
        height: 300px;
    }
    main section.inti .Besar p{
        margin: 0;
        padding: 0;
    }
    main section.inti .Besar p a{
       font-size: 18px;
       width: 500px;
       margin-top: 0px !important;
    }
    main section.inti img{
        width: 200px;
        height: 150px;
    }
    section.inti article{
        width: 500px;
        height: 150px;
    }
    section.inti article p a{
        font-size: 16px;
        width: 280px;
        margin: 0;
        padding: 0;
    }
    section.inti article p{
        font-size: 10px;
        width: 270px;
        margin: 10px;
        padding: 5px;
        margin-bottom: 5px;
    }
    p.tanggal{
        width: fit-content !important;
    }
    .bawah ul{
        margin-left: 420px;
    }
}




@media (max-width: 860px)
{
    body{
        width: 860px;
        align-items: center;
    }
    .header{
        width: 95% !important;
        margin: 0 auto;
        font-size: 14px;
    }
    span.open{
        display: block !important;
        float: left;
        margin-top: 25px;
    }
    h1{
        float: none;
    }
    .header ul{
        display: none;
    }
    .header span{
        display: none;
    }
    header li a{
        margin-left: 10px;
        margin-right: 10px;
    }
    header span img{
        width: 45px !important;
        height: 45px !important;
        margin: 0;
        padding: 0;
    }


    main{
        width: 95%;
    }
    main .judul{
        font-size: 18px !important;
        margin-left: 15px;
    }
    .search input{
        width: 80% !important;
    }
    main .kategori{
        margin: 0;
        width: 100% !important;
    }
    main td a{
        width: 95px;
    }
    main td a p{
        margin-top: 0;
    }
    main td{
        width: 70px;
        margin: 0 auto;
        padding: 0;
        height: fit-content;
        width: 1000px;
    }

    main section.kategori{
        overflow: none !important;
        position: relative !important;
        position: none;
        height: fit-content;
    }
    
    main section.inti{
        width: 100% !important;
        margin: 0;
        padding: 0;
        border: none;
    }
    main section.inti .Besar img{
        width: 770px;
        height: 350px;
        margin: 0 !important;
        padding: 0 !important;
    }
    main section.inti .Besar{
        width: 510px;
        height: 400px;
    }
    main section.inti .Besar p{
        margin: 0;
        padding: 0;
    }
    main section.inti .Besar p a{
       font-size: 18px;
       width: 760px;
       margin-top: 0px !important;
    }
    main section.inti img{
        width: 200px;
        height: 150px;
    }
    section.inti article{
        width: 780px;
        height: 150px;
    }
    section.inti article p a{
        font-size: 16px;
        width: 540px;
        margin: 0;
        padding: 0;
    }
    section.inti article p{
        font-size: 10px;
        width: 540px;
        margin: 10px;
        padding: 5px;
        margin-bottom: 5px;
    }
    p.tanggal{
        width: fit-content !important;
    }
    .bawah ul{
        margin-left: 250px;
    }
}


@media (max-width: 479px)
{
    body{
        width: 479px;
        align-items: center;
    }
    .header{
        width: 95% !important;
        margin: 0 auto;
        font-size: 14px;
    }
    span.open{
        display: block !important;
        float: left;
        margin-top: 25px;
    }
    h1{
        float: none;
    }
    .header ul{
        display: none;
    }
    .header span{
        display: none;
    }
    header li a{
        margin-left: 10px;
        margin-right: 10px;
    }
    header span img{
        width: 45px !important;
        height: 45px !important;
        margin: 0;
        padding: 0;
    }


    main{
        width: 95%;
    }
    main .judul{
        font-size: 16px !important;
        margin-left: 15px;
    }
    section.search{
        margin: 0 !important;
    }
    .search input{
        width: 70% !important;
        margin: 0 !important;
    }
    main .kategori{
        margin: 0;
        width: 100% !important;
    }
    main td a{
        width: 95px;
    }
    main td a p{
        margin-top: 0;
    }
    main td{
        width: 70px;
        margin: 0 auto;
        height: fit-content;
        width: 1000px;
    }



    main section.inti{
        width: 100% !important;
        margin-right: 0;
        padding-right: 0;
    }
    main section.inti .Besar img{
        width: 420px;
        height: 300px;
        margin: 0 !important;
        padding: 0 !important;
    }
    main section.inti .Besar{
        width: 420px;
        height: 400px;
    }
    main section.inti .Besar p{
        margin: 0;
        padding: 0;
    }
    main section.inti .Besar p a{
       font-size: 16px;
       width: 400px;
       margin-top: 0px !important;
    }
    main section.inti img{
        width: 160px;
        height: 140px;
    }
    section.inti article{
        width: 420px;
        height: 140px;
    }
    section.inti article p a{
        font-size: 12px;
        width: 240px;
        margin: 0;
        padding: 0;
    }
    section.inti article p{
        font-size: 10px;
        width: 200px;
        margin: 10px;
        padding: 5px;
        margin-bottom: 5px;
    }
    p.tanggal{
        width: fit-content !important;
    }
    .bawah ul{
        margin-left: 50px;
    }
}