body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Varela Round';
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  header span.open{
    display: none;
    color: #818181;
    width: fit-content;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #FFBA49;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




header{
    padding: 0px;
    float: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    float: none;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
header section article.header{
    width: 100%;
    height: 100px;
}
main{
    margin: 0 auto;
    width: 1048px;
    padding: 10px;
    background-color: white;
    height: 1300px;
    flex: 1;
}
footer{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(255, 184, 53);
    height: 50pt;
    line-height: 50px;
    color: white;
    bottom: 0;
}
footer p{
    margin: 10px 20px;
}
ul{
    list-style-type: none;
}
header h1{
    float: left;
    width: 160px;
    color: #FFBA49;
    padding-left: 15px;
    font-size: 28px;
    margin: 30px 0;
}
header li{
    float: left;
    text-align: center;
}
header li a{
    display: block;
    padding: 0;
    width: fit-content;
    text-decoration: none;
    color: gray;
    margin: 40px 30px;

}
header li a.utama{
    color: #FFBA49;
}
header li a.utama:after{
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFBA49;
    transform-origin: bottom right;
    transform-origin: bottom left; 
    content: '';
}
article.about h2{
    font-size: 50px;
}
article.about p.kata{
    width: 600px;
    font-size: 20px;
    padding: 20px 0;

}
article.about p.lanjut{
    line-height: 0;
    margin: auto 0;
    width: fit-content;
    margin-top: 5px;
}
article.about{
    width: fit-content;
    padding-left: 20px;
    font-size: 16px;
    color: gray;
    height: fit-content;
    margin: 0;
}
li a {
    display: inline-block;
    position: relative;
}
header li a:after {
    content: '';
    position: absolute; 
    width: 100%; 
    transform: scaleX(0); 
    height: 1px; 
    bottom: 0; 
    left: 0; 
    background-color: #FFBA49;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

header li a:hover{
    color: #FFBA49
}


header span a{
    float: right;
    color: white;
    background-color: #FFBA49;
    border: 1px solid transparent;
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 30px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
header span a:hover{
    background-color: transparent;
    color: #FFBA49;
    border: 1px solid #FFBA49;
}
a{
    text-decoration: none;
}
li{
    display: inline;
}






/* Main section */

main{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 0;

}
i{
    color: #535353;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
i:hover{
    color: #FFBA49;
}
aside{
    width: 25%;
    float: left;
}
img{
    width: 50px;
    margin-right: 10px;
}

td{
    width: 500px;
    background-color: white;
    color: #FFBA49;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
td input{
    padding: 5px;
    margin-bottom: 10px;
    width: 90%;
}
div.profil{
    float: left;
}
div.dokter{
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}
td.chat:hover{
    background-color: #FFF4E4;
}
td p{
    font-size: 12px;
    color: #535353;
}
td.profil{
    width: 10px !important;
    padding: 0;
    border-bottom: none;
}
section.inti{
    margin-left: 25%;
    float: none;
}
article.isi{
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: #FFF4E4;
    margin-bottom: 10px;
}
article.isi p{
    height: fit-content;
    width: 100%;
    background-color: rgb(251, 251, 251);
    padding: 20px;
    margin: 0;
    color: #535353;
}
section.inti input{
    width: 90%;
    padding: 6px;
}




/*RESPONSIF*/
@media (max-width: 1024px)
{
    body{
        width: 1024px;
        align-items: center;
    }
    .header{
        width: 95% !important;
        margin: 0 auto;
        font-size: 14px;
    }
    header li a{
        margin-left: 10px;
        margin-right: 10px;
    }
    header span img{
        width: 45px !important;
        height: 45px !important;
        margin: 0;
        padding: 0;
    }

    main{
        width: 900px;
    }
    section.inti input{
        width: 88% !important;
    }
}




@media (max-width: 860px)
{
    body{
        width: 860px;
        align-items: center;
    }
    .header{
        width: 95% !important;
        margin: 0 auto;
        font-size: 14px;
    }
    span.open{
        display: block !important;
        float: left;
        margin-top: 25px;
    }
    h1{
        float: none;
    }
    .header ul{
        display: none;
    }
    .header span{
        display: none;
    }
    header li a{
        margin-left: 10px;
        margin-right: 10px;
    }
    header span img{
        width: 45px !important;
        height: 45px !important;
        margin: 0;
        padding: 0;
    }

    .search input{
        width: 80% !important;
    }

    main{
        width: 95%;
    }
    section.inti input{
        width: 87% !important;
    }
    img{
        width: 40px;
        margin-top: 5px;
    }
    .dokter{
        font-size: 14px;
    }
    .dokter p{
        font-size: 10px;
    }
}


@media (max-width: 479px)
{
    body{
        width: 479px;
        align-items: center;
    }
    .header{
        width: 95% !important;
        margin: 0 auto;
        font-size: 14px;
    }
    span.open{
        display: block !important;
        float: left;
        margin-top: 25px;
    }
    h1{
        float: none;
    }
    .header ul{
        display: none;
    }
    .header span{
        display: none;
    }
    header li a{
        margin-left: 10px;
        margin-right: 10px;
    }
    header span img{
        width: 45px !important;
        height: 45px !important;
        margin: 0;
        padding: 0;
    }

    section.search{
        margin: 0 !important;
    }
    .search input{
        width: 70% !important;
        margin: 0 !important;
    }




    main{
        width: 95%;
    }
    section.inti input{
        width: 83% !important;
    }
    aside{
        display: none;
    }
    .inti{
        margin-left: 0 !important;
    }

}