body{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    margin: 0 auto;
    line-height: 80px;
    width: 1048px;
    height: 450px;
    padding: 0 10px;
    float: none;
    background-repeat: no-repeat;
    background-image: url(background.png);
    background-size: 100%;
}
main{
    margin: 0 auto;
    width: 1048px;
    padding: 10px;
    background-color: white
}
footer{
    margin: 0 auto;
    width: 1048px;
    padding: 0 10px;
    background-color: rgb(255, 184, 53);
    height: 50px;
    line-height: 50px;
    color: white;
}
ul{
    list-style-type: none;
}
header h1{
    float: left;
    width: 160px;
    margin: 5px;
    color: rgb(255, 184, 53);
    padding-left: 15px;
    font-size: 28px;
}
header li{
    float: left;
}
header li a{
    display: block;
    padding: 8px;
    width: 80px;
    text-decoration: none;
    color: gray;
}
header li a.utama{
    color: rgb(255, 184, 53);;
    text-decoration: underline;
}
article.about h2{
    font-size: 32px;
}
article.about{
    float: none;
    width: 600px;
    padding-left: 20px;
    font-size: 18px;
    margin: 1px;
}
li{
    display: inline;
}
header li a:hover{
    color: rgb(255, 184, 53);
}
span{
    float: right;
}